@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: 'Montserrat', Arial, sans-serif;
            background-color: #6e7f80; /* gris-bleu */
            color: #000000; /* noir */
        }
button {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 15px;
        }
